/* Reset básico para tirar margens padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Configuração do corpo da página */
body {
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* A caixa principal que segura o conteúdo */
.container {
    width: 100%;
    margin-top: 3%;
    max-width: 800px;
}

/* Cabeçalho (Título e Info do Usuário) */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #2c3e50;
}

.users {
    margin-top: 7px;
}

/* Estilo padrão dos Cartões Brancos */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

/* --- FORMULÁRIO DE CRIAÇÃO --- */

.form-group {
    display: grid;
    gap: 10px;
    /* Cria duas colunas iguais */
    grid-template-columns: 1fr 1fr;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

/* O Botão Salvar */
.btn-save {
    /* Faz o botão ocupar as duas colunas inteiras */
    grid-column: span 2;
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-save:hover {
    background-color: #219150;
}

/* --- LISTAGEM DE PLANOS --- */

/* O Grid que organiza os cards dos planos */
.grid-planos {
    display: grid;
    /* Cria colunas automáticas com largura mínima de 200px */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;

    margin-top: 15px;
}

/* O Card individual de cada plano */
.card-plano {
    background: white;
    padding: 15px;
    border-radius: 8px;
    /* Aquele detalhe azul na lateral esquerda */
    border-left: 5px solid #3498db;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: 0.2s;
}

.card-plano:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.card-plano h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.card-plano p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
}

.card-plano .btns {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 10px;
}

.card-plano .btn-edit {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s;
    background-color: #3498db;
    color: white;
}
.card-plano .btn-delete {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s;
    background-color: red;
    color: white;
}

.card-plano .btn-edit:hover, .btn-delete:hover{
    transform: scale(1.05);
}

.card-plano .btn-edit:active, .btn-delete:active{
    transform: scale(0.98);
    transition: 0.1s;
}

/* --- ESTILOS ESPECÍFICOS DA PÁGINA DE DETALHES --- */

.container-grid {
    width: 95%;
    max-width: 1600px;
    padding: 20px;
}
/* Botão Voltar */
.btn-back {
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-back:hover {
    background-color: #d0d0d0;
    color: #333;
}

/* Header específico */
.header-detalhes h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.header-detalhes hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
}

/* --- GRID LAYOUT */
.dashboard-grid {
    display: grid;
    grid-template-columns: 550px 1fr;
    gap: 20px;
    align-items: start;
    align-content: center;
}

/* --- SIDEBAR (Esquerda) --- */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-box {
    /* Herda o estilo .card do seu CSS original, mas adiciona borda */
    border-left: 5px solid #27ae60; /* Verde */
    text-align: center;
}

.info-box small {
    color: #888;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.info-box p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.info-extra {
    background: #cbe5f5;
    border: 1px solid #297fb962;
    border-left: #2c7bf1 5px solid;
}

.info-extra small {
    font-size: 1.01rem;
    color: #1d427a;
    font-weight: bold;
}

.info-extra p {
    margin-top: 10px;
    color: #154273;
}

/* --- CONTEÚDO PRINCIPAL (Direita) --- */
.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Caixa de Previsão (Azul) */
.previsao-box {
    background: linear-gradient(135deg, #2c7bf1, #2980b9); /* Azul */
    color: white;
    text-align: center;
    border: none;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.previsao-box .info-card {
    font-size: 0.9rem;
    color: #ecf0f1ce;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.previsao-box .p-tempo {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.previsao-box :last-child {
    font-size: 0.8rem;
    color: #dfe6e9e1;
}

/* Caixa do Gráfico */
.grafico-box {
    height: 400px; /* Altura fixa para o gráfico aparecer */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- RESPONSIVIDADE (Para celular) --- */
@media (max-width: 768px) {
    .dashboard-grid {
        grid-template-columns: 1fr; /* Vira uma coluna só */
    }
}